<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      Bienvenido a la Central de Apuntes
    </div>
  </div>
  <div padding>
    <button ion-button block (click)="guest()">Iniciar sesion como invitado</button>
    <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
    <!-- <button ion-button block (click)="login()" class="login">INICIAR SESIÓN</button> -->
    <button type="button" (click)="login()" id="btnGoogle" ion-button data-toggle="tooltip" block title="Iniciar Sesión con Google">
    Iniciar sesion con &nbsp;<ion-icon name="logo-googleplus"></ion-icon>
    </button> 
    </div>
</ion-content>